/* -- RESET -- */
*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    line-height: calc(1em + 0.5rem);
}

/* --- Generel style --- */

html {
    scroll-behavior: smooth;
}
:root {
  --clr-background1: #FFF9F8;
  --clr-lyseblaa: #C7E9FC;
  --clr-morkeblaa: #246EB9;
  --clr-lyseroed: #FFCDC2;
  --clr-morkroed: #FD6947;
}

body {
  font-family: 'Montserrat';
  background-color: var(--clr-background1);
}

img {
    display: block;
    width: 100%;
    height: auto;
}

/* --- HEADER --- */

.fa-user {
    margin-top: -5px;
}


.head1, .head2  {
    width: 50%;
    margin-right: 1.5rem;
}

.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-background1);
    padding: 1rem 0;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 9999;
}

nav {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 1rem 0 0 0;
}

.logo { /* Header logo */
    position: absolute;
    max-width: 10%;
    padding-top: 10px;
    margin-top: 30px;
    transform: translate(-50%, -50%);
} 

.head1, /* De 4 menupunkter */
.head2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.topnav {
    overflow: hidden;
    font-family: 'Dosis';
    
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-family: 'Dosis';
    font-size: 20px;
}
.dropdown .dropbtn {
    font-size: 23px;
    font-weight: 600;
    border: none;
    outline: none;
    color: var(--clr-text-black);
    background-color: inherit;
    font-family: inherit;
    margin: auto;
}

.fa-caret-down {
    padding: 5px 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--clr-background1);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 0.02rem;
}

.dropdown-content a {
    float: none;
    color: var(--clr-white);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-weight: 200;
}

.dropdown-content p {
    padding: 5px;
    font-weight: 600;
}

.topnav a:hover, .dropdown:hover .dropbtn {
    background-color: rgba(153, 152, 148, 0);
    color: var(--clr-text-black);
}

.dropdown-content a:hover {
    color: rgba(0, 0, 0, 0.4);
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* --- HEADER SLUT --- */

.forsidebanner {
    z-index: 0;
}

/* --- forside h1 --- */
.banner_h1 {
    font-family: "Dosis", sans-serif;
    font-weight:bold;
    font-size: 50px;
    color: #535353;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


.banner_h2
{
    font-family: "Dosis", sans-serif;
    font-weight:300;
    font-size: 50px;
    color: #535353;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

  /* --- Footer GRID --- */

  #footer-main {
    background-color: #C7E9FC;
    padding: 40px;
    bottom: 0;
    width: 100%;
    font-family: 'Montserrat';
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: auto;
    grid-gap: 10px;
    margin: 0 auto;
    max-width: 100%;
    padding-left: 180px;
}

@media (max-width: 1024px) {
    .footer-grid {
        padding-left: 20px;
    }
}

/* --- Footer style --- */
section 
.footer-1 
.footer-2 
.footer-3 
 {
    background-color: transparent;
    font-family: 'Montserrat';
}

.logo2 /* --- Footer logo --- */ {
   max-width: 40%;
}


section {
    color: #000000;
    padding: 20px;
    font-family: 'Montserrat';
}

section a {
    color: #000000;
    font-family: 'Montserrat';
    text-decoration: none;
    font-size: 0.95rem;
}

section a:hover {
    text-decoration: underline;
}

h1 {
    text-align: center;
    margin: 80px 0;
}

h4 {
    font-size: 1rem;
}

/* Footer icons */

.fa {
    font-size: 1rem;
  }
  
  .fa:hover {
    opacity: 0.7;
    text-decoration: none;
  }
  
  .fa-brands {
    padding: 5px;
    width: 30px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 100%;
    background: rgb(0, 0, 0);
    color: #C7E9FC;
  }
  .fa-brands::before {
    line-height: 1.25em;
  }

  .fa-caret-right {
    color: var(--clr-morkroed);
}

/* --- Forside banner --- */
img {
    display: block;
    width: 100%;
    height: auto;
    margin-top: 0px; 
    justify-content: center;
}

 /* --- Forside artikler --- */
.forside_grid {
    display: grid; 
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
    height: 100%;
    margin-top: 100px;
   
 }
   
 #item-0 { /* --- bæredygtighed artikel --- */
    background-color: transparent;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 2;
    padding-right: 10px;
    border-radius: 10px;
 }

 #item-0 img { /* --- bæredygtighed artikel img --- */
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
 }

 #item-1 { /* --- bæredygtighed artikel h1 og p --- */
    background-color: transparent;
    grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: 2;
    grid-column-end: 3;
    margin-left: 20px;
    
 }
 #item-2 { /* --- Budgetkasse artikel --- */
    background-color: transparent;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 2;
    margin-left: 30px;
    
 }
 #item-3 { /* --- budgetkasse artikel borders --- */
    background-color: transparent;
    grid-row-start: 2;
    grid-column-start: 2;
    grid-row-end: 3;
    grid-column-end: 3;
    padding-left:10px;
 }

 #item-3 img { /* --- budgetkasse artikel img borders --- */
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
 }

.forside_overskrift {
    font-size: 25px;
}

.forside_indledning {
    text-align: center;
    font-size: 17px;
    max-width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -40px;
}

.bæredygtighed_overskrift {
    font-family: "Dosis", sans-serif;
    font-size: 30px;
    font-weight: 300;
    text-align: start;
    margin-top: 10px;
}

.bæredygtighed_p {
    margin-top: -50px;
    font-size: 15px;
    max-width: 70%;
}

.budget_overskrift {
    font-family: "Dosis", sans-serif;
    font-size: 30px;
    font-weight: 300;
    text-align: start;
    margin-top: 15px;
    text-align: start;
}

.budget_p {
    margin-top: -50px;
    font-size: 15px;
    max-width: 80%;
}

/* --- levering infographic --- */
 .infographic {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 100px;
}
 /* --- Bestil budgetkassen button --- */
.custom-button {
    display: block;
    margin: 80px auto 0;
    padding: 10px 10px;
    width: 200px; 
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    color: #ffffff;
    background-color: #FF6148;
    border-radius: 20px;
    transition: background-color 0.3s, color 0.3s;
    font-family: "Dosis", sans-serif;
}

/* Button Hover effect */
.custom-button:hover {
    background-color: #FF6148;
    opacity: 50%;
    color: #fff;
}


/* bestil button style */
.bestil-button {
    display: inline-block;
    position: absolute;
    min-height: 48px;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    width: 150px; 
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    color: #ffffff;
    background-color: #256EB9;
    border-radius: 20px;
    
    transition: background-color 0.3s, color 0.3s;
    font-family: "Dosis", sans-serif;
}

/* bestil button Hover effect */
.bestil-button:hover {
    opacity: 50%;
    background-color: #256EB9;
}

/* forside læs mere style */
#læsmere {
    color:#000000;
    text-decoration: none;
    font-weight: bold;
}

#læsmere:hover {
    text-decoration: underline;
    color: var(--clr-morkroed);
    transition: 0.5s ease;
}

#læsmere:hover {
    color: #FF6148;
    text-decoration: underline;
}



/* -----------------------
-------BUDGETKASSEN-------
-------------------------- */

.budget-titel {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-top: 7rem;
    width: 100%;
}

.ikon-budgetkasse {
    height: 4.5rem;
    width: auto;
    margin-top: 0;
}

.budget-h1 {
    font-family: 'dosis', sans-serif;
    font-weight: 700;
    margin: 0;
    font-size: 2.5rem;
}

.budget-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 50rem;
    margin: 0 auto 5rem;
}

.bestil-container {
    width: 100%;
    border: solid 4px var(--clr-morkeblaa);
    border-radius: 25px;
    z-index: 200;
    background-color: white;
    box-shadow: 0 10px 15px 0 rgb(0, 0, 0, 0.2);
}

.bestil-flex {
    padding: 2.5rem 3rem 1.5rem;
}

.p-vaelg {
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
}

.vaelg-container {
    padding: 0 2.5rem;
    margin: 2rem 2rem 3rem;
}

.vaelg-container div h2 {
    font-size: 1.1rem;
    font-weight: 600;
}

.vaelg-personer, .vaelg-retter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

.cirkel {
    border: solid 3px var(--clr-morkroed);
    border-radius: 50px;
    padding: 10px;
    width: 3.5rem;
    height: 3.5rem;
    display: inline-block;
    text-align: center;
    color: var(--clr-morkroed);
    font-size: 1.4rem;
    font-weight: 400;
    margin: 0 0.2rem;
}

.cirkel:hover {
    background-color: var(--clr-lyseroed);
    cursor: pointer;
}

.selected { /* Den cirkel der er valgt fra start, når burgeren åbner siden */
    background-color: var(--clr-lyseroed);
}

.pris-container {
    padding: 2rem 10rem;
    background-color: var(--clr-lyseblaa);
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
}

.pris-portion, .pris-alt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
    gap: 2rem;
}

.pris-portion h3, .pris-portion p {
    font-weight: 300;
    font-size: 1.1rem;
}

.pris-alt h3, .pris-alt p{
    font-weight: 600;
    font-size: 1.1rem;
}

.levering-p {
    text-align: center;
    margin-top: 1rem;
}

.fa-circle-check {
    font-size: 1rem;
    color: black;
}

/* --- Japansk mønster - what to do?? --- */
.moenster-container {
    z-index: -100;
    position: absolute;
    margin-top: -30rem;
    width: 100%;
    max-height: 20rem;
    overflow: hidden;
}
.budget-moenster {
    width: 100%;
    height: auto;
}

/* --- 'Gå til udvalg' */
.knap-blaa {
    background-color: var(--clr-morkeblaa);
    border: 3px solid var(--clr-morkeblaa);
    color: #fff;
    font-family: 'dosis', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0.8rem 2rem;
    border-radius: 30px;
    cursor: pointer;
    display: block;
    text-align: center;
    margin: 3rem auto;
  }

.knap-blaa:hover {
    background-color: rgba(37, 110, 185, 0.15);
    color: var(--clr-morkeblaa);
}

/* --- Knapper --- */
.retter-h2 {
    font-family: 'dosis', sans-serif;
    font-weight: 700;
    margin: 5rem 0 2rem;
    font-size: 2.5rem;
    text-align: center;
}

.retter-p {
    font-size: 1.1rem;
    font-weight: 400;
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
}

.filter {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 3rem auto;
}

.knap {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.ikon-ret {
    width: 50px;
    height: auto;
    margin: 0;
}

.knap button {
    background-color: var(--clr-morkroed);
    border: solid 2px var(--clr-morkroed);
    color: #fff;
    font-family: 'dosis', sans-serif;
    font-size: 1.1rem;
    height: 50px;
    padding: 0 2rem;
    border-radius: 30px;
    cursor: pointer;
    display: block;
    text-align: center;
}

.knap button:hover {
    background-color: rgba(255, 97, 72, 0.15);
    color: var(--clr-morkroed);
}

.knap button.active { /* Til javascrip: aktivering af filtrering */
    background-color: rgba(255, 97, 72, 0.15);
    border: solid 2px var(--clr-morkroed);
    color: var(--clr-morkroed);
}

/* --- Måltidesoversigt --- */

#retter {
    padding-top: 5rem;
}

.retter-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    padding: 4rem 10rem;
    justify-items: center;
}

.ret {
    border-radius: 20px;
    box-shadow: 0 10px 15px 0 rgb(0, 0, 0, 0.2);
    background-color: var(--clr-lyseblaa);
    margin-bottom: 1rem;
    max-width: 400px;
    position: relative;;
}

.ret.hidden { /* Til javascript: filtreringsknapper */
    display: none;
}

.img-ret {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0 0 15px 0 rgb(0, 0, 0, 0.2);
}

.favorit {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.fa-heart {
    font-size: 2rem;
    color: var(--clr-lyseroed);
}

.favorit i.fa-heart.favorited { /* Til javascript: add to favorites */
    color: #FD6947;
}

.ret-kort {
    padding: 1.2rem 2rem;
}

.ret-kort h3 {
    font-size: 1.3rem;
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    padding-bottom: 0.7rem;
}

.ikon-filter img {
    width: 40px;
    height: auto;
    display: inline-block;
    margin-right: 0.5rem;
}

.tid-opskrift {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: -10px;
}

.tid-opskrift i {
    font-size: 1.3rem;
}

.tid i {
    padding-right: 0.2rem;
}

.tilfojret {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--clr-morkeblaa);
    background-color: white;
    border-radius: 30px;
    width: 6rem;
    padding: 0.5rem 4rem;
    margin: 0 auto;
    margin-bottom: -20px;
    font-size: 1.5rem;
}

.tilfojret button {
    color: black;
    background-color: white;
    border: none;
    padding: 0 10px;
    cursor: pointer;
    font-size: 1rem;
}

.fa-receipt {
    cursor: pointer;
}

/* --- 'Gå til bestilling' --- */
.bestilling-container {
    margin-bottom: 6rem;
}
.bestilling-p {
    font-size: 1.1rem;
    font-weight: 400;
    text-align: center;
    max-width: 700px;
    margin: 2rem auto 0;
}


/* -----------------------
------ Bæredygtighed ----- 
------------------------*/
/* --- Grønne Måltidskasser START --- */

.groenne {
    display: flex;
    padding: 0 0 10rem;
}

.groenne img {
    max-width: 50%;
    height: auto;
    margin-top: 5rem;
    border-radius: 0px 20px 20px 0px;
}

.groenartikel {
    padding: 0px 70px;
}

.groenartikel h1 {
    font-family: dosis;
    font-size: xxx-large;
}

.groenartikel a {
    font-weight: bold;
}

.groenartikel a:hover {
    color: var(--clr-morkroed);
    transition: 0.5s ease;
}
/* --- Grønne Måltidskasser SLUT --- */

/* --- De Blå Kasser START --- */


.kasse-container-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.kasse-container-grid h4 {
    font-family: 'Dosis', sans-serif;
    font-weight: bolder;
    font-size: x-large;
    text-align: center;
    padding-bottom: 10px;
   
}


.kasse img {
    display: block;
    width: 30%;
    position: absolute;
    margin-top: -6.5rem;
    margin-left: 5rem;
}


.kasse {
    position: relative;
    background-color: var(--clr-lyseblaa);
    border-radius: 20px;
    width: 20rem;
    padding: 2rem;
    box-shadow: 0 0 9px 1px rgba(0,0,0,0.3);
}


/* --- De Blå Kasser SLUT --- */

/* --- Nippon & Økologi Section START --- */

.oekologi{
    display: flex;
    padding: 0px;
    justify-content: center;
    padding-top: 6rem;
}

#overskriftoeko {
    font-family: 'Dosis', sans-serif;
    font-size: xxx-large;
    padding: 0;
    margin-bottom: 4px;
}

#oeko{
    width: 50%;
    height: auto;
    justify-content: center;
    border-radius: 20px;
    position: absolute;
    z-index: 5;

}

#moenster {
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 4.5rem;
}

.artikel {
    width: 100%;
    padding: 10rem 20rem;
}


/* --- Nippon & Økologi Section SLUT --- */

/*--- MAIN SLUT ---*/


/* -----------------------
-------Maaltidskasser-----
-------------------------- */

.maaltidskasser-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    margin-top: 2rem;
}

.maaltidskasser-h1 {
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
    margin: 0;
    margin-top: 7rem;
    font-size: 2.5rem;
}

.image-container {
    display: flex;
    justify-content: space-between;
    margin-top: 7rem; 
}

.image-box {
    position: relative;
    width: 30%;
    max-width: 100%;
}

.image-overlay {
    position: absolute;
    top: -40px; 
    left: 0;
    right: 0;
    bottom: -40px; 
    background-color: #C7E9FC;
    pointer-events: none;
    z-index: -1; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.image-container img {
    width: 100%;
    height: auto;
}

.image-title {
    text-align: center;
    margin-top: 2px; 
    margin-bottom: 10px;
    font-size: 2rem; 
    color: black; 
    font-family: 'dosis', sans-serif;
}

.button-container {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}

.info-button {
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #FFF9F8; 
    color: black;
    border-color: #FD6947;
    border-radius: 25px;
    cursor: pointer;
    font-family: 'dosis', sans-serif;
}

.vaelg-button {
    padding: 10px 50px;
    font-size: 1.2rem;
    background-color: #FD6947;
    color: white;
    border: 2px solid #FD6947;
    border-radius: 25px;
    cursor: pointer;
    font-family: 'dosis', sans-serif;
}

/* Maaltidskasser SLUT */

/* --- Hover for måltidskasse knapper START ---- */

.info-button:hover {
    color: #FD6947;
}

.vaelg-button:hover {
    background-color: #FFF9F8;
    color: #FD6947;
    border: 2px solid #FD6947;
}

/* --- Hover for måltidskasse knapper SLUT ---- */

/*--- Banner billede START ---*/

.banner-maaltidskasser-container {
    position: relative;
    width: 100%;
    margin-top: 30vh;
    padding-top: 25vh;
}

.banner-maaltidskasser {
    position: relative;
    width: 100%;
}

.banner-maaltidskasser img {
    width: 100%; 
    height: auto;
    display: block;
}

.boks-maaltidskasser {
    position: absolute;
    top: 50%;
    left: 30%; 
    transform: translate(-50%, -50%);
    background-color: #FFF9F8;
    padding: 3vw;
    border-radius: 15px;
    text-align: center;
    border: 7px solid #256EB9;
    max-width: 60vw;
    width: 600px;
}

.boks-maaltidskasser p {
    margin-top: 1vw;
    margin-bottom: 1vw;
    font-size: 1.5rem;
    color: black;
    font-family: 'montserrat', sans-serif;
}

.motion-graphic {
    position: absolute;
    top: -60%;
    margin-right: 19%;
    right: -25%;
    max-width: 50%;
}

/* Banner billede SLUT */

/* SoMe sektion START */

.SoMe-titel {
    text-align: center;
    margin-top: 15%;
    margin-bottom: 10%;
}

.So-Me-titel h1 {
    font-size: 2rem;
    color: #256EB9;
    font-family: 'dosis', sans-serif;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.social-icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px; 
    height: 150px; 
    font-size: 7rem; 
    margin: 20px 130px 80px; 
    text-decoration: none;
    color: #FFF9F8;
    background-color: #ff6347;
    border-radius: 15px;
}

.social-icons a:hover {
    color: #ff6347; 
    background-color: #FFF9F8; 
    border: 5px solid #ff6347;
    border-radius: 15px;
}

/* SoME sektion SLUT */


/* -----------------------
-------- Fejlside -------- 
----------------------- */
.fejl-h1 {
    font-family: 'dosis', sans-serif;
    font-size: 3rem;
    margin: 6rem 0 3rem;
}

.fejl-p {
    font-size: 1.5rem;
    text-align: center;
}

.knap-fejl {
    margin-top: 2rem;
}

.fejl-moenster {
    max-height: 3rem;
    overflow: hidden;
}

#footer-fejl {
    position: fixed;
    bottom: 0;
    background-color: #C7E9FC;
    padding: 0;
    bottom: 0;
    width: 100%;
    font-family: 'Montserrat';
}
